.wrap2 {
  position: absolute;
  left: 30px;
  width: 570px;
  height:650px;
  margin: 0 auto;
  text-align: center;
  border: solid  crimson 2px;
}
.wrap2 .btn2 {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: solid crimson 2px;
  font-size: 20px;
  color: crimson;
  background-color: lemonchiffon;
  border-radius: 100%;
}
.wrap2 .btn2:hover {
  opacity: 0.5;
}
.wrap2 .d1 {
  width: 60px;
  height: 60px;
  background-color: #DC143C;
  color: lemonchiffon;
  border-radius: 50px;
  border: solid lemonchiffon 2px;
  line-height: 28px;
  display: inline-block;
  cursor: pointer;
}
.wrap2 .d1:hover {
  transition: all .5s;
  transform: rotateZ(360deg);
}
.wrap2 .numb {
  width: 50px;
  height: 30px;
  background-color: crimson;
  border: solid lemonchiffon 2px;
  color: lemonchiffon;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}
.wrap2 .nian {
  margin: 5px;
  width: 150px;
  height: 100px;
  display: inline-block;
}
.wrap2 .rili-head {
  width: 100%;
  height: 60px;
}
.wrap2 .rili-head .item {
  width: 80px;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
  float: left;
  text-align: center;
}
.wrap2 .rili-body {
  width: 560px;
}
.wrap2 .rili-body .kong {
  width: 80px;
  height: 80px;
  float: left;
}
.wrap2 .rili-body .num {
  width: 80px;
  height: 80px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  float: left;
  text-align: center;
  overflow: hidden;
  white-space: nowrap2;
}